body {
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
    color: #434455;
} 
a {
    text-decoration: none;
    color: #434455;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}
h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em;
    
}
p {
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
    font-size: 16px;
    margin: 0;
}

img {
    display: block;
}

nav {
    display: flex;
    align-items: center;
}

header {
    border-bottom: 1px solid #e7e9fc;
}

footer {
    background-color: #2e2f42;
}

.header {
    padding: 0 15px;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.section {
    padding: 120px 0;
}

.container { 
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.17;
    color: #4d5ae5;
    letter-spacing: 0.03em;
}

.logo-header{
    margin-right: 76px;
}

.logo-part {
    color: #2e2f42;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.logo-part-footer {
    color: #f4f4fd;
    letter-spacing: 0.03em;
}

.navigation {
    font-weight: 500;
    color: #2e2f42;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
}

.navigation-item {
    position: relative; 
}

.active-link {
    position: relative;
    display: block;
    padding: 24px 0;
    color: #404bbf; 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active-link::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf; 
}

.navigation-link {
    position: relative;
    display: block;
    padding: 24px 0;
    letter-spacing: 0.02em;
    color: #2e2f42;
    overflow: hidden;
}

.navigation-link::after {
    position: absolute;
    content: "";
    left: -100%;
    bottom: 0;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    transition: transform cubic-bezier(0.4, 0, 0.2, 1) 250ms, color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.navigation-link:hover::after,
.navigation-link:focus::after {
    transform: translateX(100%);
}

.navigation a:hover,
.navigation a:focus {
    color: #404bbf;
}

.block-contacts{
    font-style: normal;
}

.contacts {
    display: flex;
    gap: 40px;
    line-height: 1.5;
}

.contacts-link {
    letter-spacing: 0.02em;
    transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.contacts a:hover,
.contacts a:focus {
    color: #404bbf;
}

.title-block{
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-hero.jpg);
    background-color: #2e2f42;
    text-align: center;
    padding: 188px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}

.title-page {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: #fff;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto 48px;
    
}

.title-block-buton {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    color: #fff;
    letter-spacing: 0.04em;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.title-block-buton:hover,
.title-block-buton:focus {
    background-color: #404bbf;
    
}

.title-lorem {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden; 
}

.cardlist-first {
    display: flex;
    gap: 24px;
}

.cardlist-first li {
    width: calc((100% - 24px) / 3);
}

.cardlist-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cardlist-block-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
}

.cardlist-icon {
    display: block;
    margin: 0 auto;
}

.block-team {
    background-color: #f4f4fd;
    text-align: center;
}

.team-cards {
    display: flex;
    gap: 24px;
    align-items: center;
}

.team-card {
    background-color: #fff;
    width: calc((100% - 24px) / 3);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}



.card-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 32px 0;
}

.text-card {
    font-size: 16px;
}

.card-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.card-icon {
    width: 40px;
    height: 40px;
}

.card-icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.card-icon-link:hover,
.card-icon-link:focus {
    background-color: #404bbf;
}


.network-icon {
    fill: #f4f4fd;
}

.portfolio-cards {
    display: flex;
    row-gap: 48px;
    column-gap: 24px;
    flex-wrap: wrap;
}

.portfolio-card {
    transition: box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.portfolio-card:hover,
.portfolio-card:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}


.block-overlay {
    position: relative;
    display: block;
    overflow: hidden;
}

 .overlay {
    padding: 40px 32px;
    position: absolute;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    color: #f4f4fd;
    content: "";
    z-index: 0;
    transform: translateY(100%);
    transition: transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}



.portfolio-card:hover .overlay,
.portfolio-card:focus .overlay {
    transform: translateY(0%);
}


.portfolio-info {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-block {
    padding: 100px 0;
}

.logo-footer-block {
    margin-right: 120px;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text {
    color:  #F4F4FD;
    max-width: 264px;
}

.footer-social-block {
    margin-right: 80px;
}

.social-title {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.card-icons-footer {
    gap: 16px;
}

.footer-icon:hover,
.footer-icon:focus {
    background-color: #31d0aa;
}

.title-subscribe {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
   
}

.form-footer {
    display: flex;
    align-items: flex-end;
    gap: 24px;
}

.label-subscribe {
    display: block;
    
}

.input-subscribe {
    padding-left: 16px;
    width: 264px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #fff;
}

.input-subscribe::placeholder {
    color: #fff;
}

.button-subscribe {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    border: none;
    color: #fff;
    cursor: pointer;
}

.subscribe-icon {
    margin-left: 16px;
    fill: #fff;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    opacity: 1;
    pointer-events: auto;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}

.overlay-block {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    width: 408px;
    overflow-y: auto;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 .button-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.button-close:hover,
.button-close:focus {
    background-color: #404bbf;
    border: none;
}

.icon-close {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.button-close:hover .icon-close,
.button-close:focus .icon-close {
    fill: #fff;
}

.title-overlay {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.overlay-form {
    display: flex;
    flex-direction: column;
}

.overlay-form label:last-child{
    margin-bottom: 0;
}

.input-element {
    margin-bottom: 8px;
}

.label-input {
    line-height: 1.17;
    display: block;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}


.input-block {
    position: relative;
}


.icon-form {
    position: absolute;
    top: 50%;
    left: 16px;
    width: 18px;
    height: 18px;
    content: "";
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input{
   display: block;
   width: 100%;
   height: 40px;
   padding: 10px 0 10px 38px;
   border-radius: 4px;
   outline: transparent;
   border: 1px solid rgba(46, 47, 66, 0.4);
   background-color: transparent;
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus-within {
    border-color: #4d5ae5;
}

.input-block:focus-within {
    fill: #4d5ae5;
 }

.element-text {
    margin-bottom: 16px;
}

.textarea{
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    color: rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 120px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    resize: none;
    font-size: 12px;
    line-height: 1.17; 
    letter-spacing: 0.04em;
    background-color: transparent;
    padding: 8px 16px;
}

.input-element textarea:focus-within {
    border-color: #4d5ae5;
}

  .checkbox-element {
    margin-bottom: 24px;
  }

  .checkbox-box {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    background-color: #fff;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
     fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .checkbox {
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 0.04em;
    color: #8e8f99;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden; 
}

  .checkbox-input:checked + .checkbox .checkbox-box {
    background-color: #404bbf;
    fill: #F4F4FD;
    border: none;
  }

  .policy-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    text-decoration: underline;
    color: #4d5ae5;
  }

 

  .modal-button-block {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal-button {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    background-color: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
  }