body {
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
    color: #434455;
} 
a {
    text-decoration: none;
    color: #434455;
}
ul {
    list-style-type: none;
}
h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
}
h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
}
p {
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
    font-size: 16px;
}
footer {
    background-color: #2e2f42;
}

footer p {
    color: #F4F4FD;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.17;
    color: #4d5ae5;
    letter-spacing: 0.03em;
}

.logo-part {
    color: #2e2f42;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.logo-part-footer {
    color: #f4f4fd;
    letter-spacing: 0.03em;
}

.navigation {
    font-weight: 500;
    color: #2e2f42;
    line-height: 1.5;
}

.navigation-link {
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.navigation a:hover,
.navigation a:focus {
    color: #404bbf;
}

.block-contacts{
    font-style: normal;
}

.contacts {
    line-height: 1.5;
}

.contacts-link {
    letter-spacing: 0.02em;
}

.contacts a:hover,
.contacts a:focus {
    color: #404bbf;
}

.title-block{
    background-color: #2e2f42;
    text-align: center;
}

.title-page {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: #fff;
    letter-spacing: 0.02em;
}

.title-block-buton {
    background-color: #4d5ae5;
    width: 169px;
    height: 56px;
    font-weight: 500;
    line-height: 1.5;
    color: #fff;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.title-block-buton:hover,
.title-block-buton:focus {
    background-color: #404bbf;
    
}


.block-team {
    background-color: #f4f4fd;
    text-align: center;
    
}

.team-card {
    background-color: #fff;
}